.container {
    display: flex;
    
    height: 70vh;
    width: 60vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 3vh;
    background-color: white;
  }
  
  .login {
    display: flex;
    flex-direction: column;
    font-size:3vh;
    text-align: center;
    align-items: center;
    row-gap: 5vh;
  }
  .image{
    display: flex;
    align-items: center;
  }
  #f1{
    font-size: 2.5vh;
  }
  .box{
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-content: center;
  }
  
  .img{
    width: 15vh;
    height: 5vh;
  }
  .f3 {
    display: flex;
    margin-top: 20px;
    gap: 11vw;
    
  }
  
  .checkbox-container{
    display: flex;
    gap: 5vw;
  }
  #next-button{
    background-color: rgb(45, 46, 120);
  }
  .main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
  }

  