<div class="main">
    <div class="registerpage">
        <div class="signin">
            <p id="c1">Let's Start</p>
            <p id="c2">Create an Account</p>
        </div>
        <div class="box">
            <div class="field">
                <p id="login">Sign Up</p>
                <p>Full Name</p>
                <mat-form-field appearance="outline">
                    <mat-label>Full Name</mat-label>
                    <input matInput placeholder="Fullname">
                </mat-form-field>
                <p>Email Address</p>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email">
                </mat-form-field>
                <p>Password</p>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password">
                </mat-form-field>
                <div class="checkbox">
                    <input type="checkbox">
                    <label for="Password">I agree to terms and conditions</label>
                </div>
                <div class="f2">
                    <button mat-raised-button color="primary" id="next-button">Create Account</button>
                    <button mat-raised-button color="primary" id="signup-button">Sign Up with Google</button>
                    <button mat-button color="primary" id="s1">Already have an account?<span id="s2"> Sign In</span></button>
                </div>
            </div>
        </div>
    </div>
</div>