<div class="main">
    <div class="container">
        <div class="login">
            <div class="image">
                <img class="img" src="../../../assets/Google_2015_logo.svg.png">
            </div>
            <div>
                <p>Change Password</p>
                <button mat-button color="primary" id="learn">Learn about choosing a smart password</button>
            </div> 
        </div>
        <form [formGroup]="resetpasswordForm">
            <div class="box">
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" formControlName="Password">
                    <mat-error *ngIf="resetpasswordForm.hasError('required','Password')">
                        Password is Required!
                    </mat-error>
                    <mat-error *ngIf="resetpasswordForm.hasError('pattern','Password')">
                        Password is not valid!
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput placeholder="Confirm Password" formControlName="ConfirmPassword">
                    <mat-error *ngIf="resetpasswordForm.hasError('required','ConfirmPassword')">
                        Confirm Password is Required!
                    </mat-error>
                    <mat-error *ngIf="resetpasswordForm.hasError('pattern','ConfirmPassword')">
                        Confirm Password is not valid!
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" id="next-button">Change Password</button>
            </div>
        </form>
    </div>
    </div>