<div class="box1">
    <button class="one">
        <span class="material-symbols-outlined">
            notifications
            </span>
    </button>
    <button class="one1">
        <span class="material-symbols-outlined">
            person_add
            </span>
    </button>
    <button class="two">
        <span class="material-symbols-outlined" [matMenuTriggerFor]="paletteMenu">
            palette
            </span>
    </button>
    <button class="three">
        <span class="material-symbols-outlined">
            image
            </span>
    </button>
    <button class="four"> 
        <span class="material-symbols-outlined" (click)="onArchiev()" (refresharchive)="refresharchivenotes($event)">
            archive
            </span>
    </button>
    <button  class="five">
        <!-- <img src="../../../assets/morevert.png" [matMenuTriggerFor]="moreMenu"> -->
        <span class="material-symbols-outlined" [matMenuTriggerFor]="moreMenu">
            more_vert
            </span>
    </button>
    <mat-menu #moreMenu="matMenu" xPosition="before">
        <button mat-menu-item (click)="onDelete()">Delete note</button>
        <button mat-menu-item >Add label</button>
        <button mat-menu-item >Add drawing</button>
        <button mat-menu-item >Make a copy</button>
        <button mat-menu-item >Show checkboxes</button>
    </mat-menu>
    <mat-menu #paletteMenu="matMenu" xPosition="before" >
        <div *ngFor='let colors of colorArray' class="colors"> 
            <button class="colorIcon" [style.background]="colors.code" (click)="selectcolor(colors)"></button>
        </div>
    </mat-menu>
    
</div>