<div class="row">
    <div class="logo">
        <button class="options">
            <span class="material-symbols-outlined">
                menu
            </span>
        </button>
    </div>

    <div class="icon">
        <img class="img" src="../../../assets/Google_Keep_icon_(2020).svg.png">
        <p id="h1">Keep</p>
    </div>

    <div class="search">
        <span class="material-symbols-outlined" id="i1">
            search
        </span>
        <input type="text" placeholder="Search" class="Input">
    </div>

    <div class="icons">
        <button class="refresh">
            <span class="material-symbols-outlined">
                refresh
            </span>
        </button>
        <button class="viewlist">
            <span class="material-symbols-outlined">
                view_list
            </span>
        </button>
        <button class="settings">
            <span class="material-symbols-outlined">
                settings
            </span>
        </button>
    </div>

    <div class="menu">
        <button class="apps">
            <span class="material-symbols-outlined">
                apps
            </span>
        </button>
    </div>
</div>
<app-sidenav></app-sidenav>
<router-outlet></router-outlet>