.container {
    display: flex;
    border: 1px outset white;
    height: 70vh;
    width: 60vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 3vh;
    background-color: white;
  }
  
  .login {
    display: flex;
    flex-direction: column;
    font-size:3vh;
    text-align: center;
    align-items: center;
    row-gap: 5vh;
  }
  .image{
    display: flex;
    align-items: center;
  }
  #f1{
    font-size: 2.2vh;
    margin-left: 30px;
    margin-right: 30px;
  }
  .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;

  }
  
  .img{
    width: 15vh;
    height: 5vh;
  }
  .f3 {
    display: flex;
    column-gap: 20vh;
    
  }
  
  #next-button{
    background-color: rgb(45, 46, 120);
  }
  .main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: lightgoldenrodyellow;
  }

  