<div class="main">
    <div class="container">
        <div class="login">
            <div class="image">
                <img class="img" src="../../../assets/Google_2015_logo.svg.png">
            </div>
            <div>
                <p>Account Recovery</p>
                <p id="f1">To help keep your account safe, Google wants to make sure its really you trying to sign in</p>
            </div> 
        </div>
        <form [formGroup]="forgorpasswordForm">
            <div class="box">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="forgorpasswordForm.hasError('required','email')">
                        email is Required!
                    </mat-error>
                    <mat-error *ngIf="forgorpasswordForm.hasError('email','email')">
                        email is not valid!
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="f3">
                <button mat-button color="primary">Try another way</button>
                <button mat-raised-button color="primary" id="next-button">Next</button>
            </div>
        </form>
    </div>
</div>