<div class="main">
    <div class="loginpage">
        <div class="signin">
            <h1 id="c1">Welcome Back</h1>
            <p id="c2">Sign In to your account</p>
        </div>
        <div class="box">
            <div class="field">
                <p id="login">Sign In</p>
                <p>Your Email</p>
                <!-- <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email">
                </mat-form-field> -->
                <input type="text" placeholder="Email or Phone" class="EmailInput">
                <p>Your Password</p>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" type="password">
                </mat-form-field>
                <div class="f1">
                    <div class="checkbox">
                        <input type="checkbox">
                        <label for="Password">Remember me</label>
                    </div>
                    <div>
                        <button mat-button color="primary" id="p1">Forgot Password?</button>
                    </div>
                </div>
                <div class="f2">
                    <button mat-raised-button color="primary" id="next-button">Sign In</button>
                    <button mat-button color="primary" id="s1">I'm a new user.<span id="s2"> Sign Up </span></button>
                </div>
            </div>
        </div>
    </div>
</div>